<ion-header>
	<ion-navbar color="secondary">
		<button ion-button menuToggle="left" icon-only>
          	<ion-icon name="menu"></ion-icon>
        </button>
		<ion-title>Home</ion-title>
		<button ion-button menuToggle="right" icon-only right>
          	<ion-icon name="chatboxes"></ion-icon>
        </button>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-card>
		<ion-card-header>Welcome!</ion-card-header>
		<ion-card-content>

			<ion-item *ngIf="currentUser">
				<ion-avatar item-left>
					<img *ngIf="!currentUser.profileImageUrl" src="assets/png/user.png">
					<img *ngIf="currentUser.profileImageUrl" [src]="currentUser.profileImageUrl" alt="Profile image">
				</ion-avatar>
				<h2> {{currentUser.email}} </h2>
				<p> {{currentUser.name}} </p>
			</ion-item>
		</ion-card-content>


	</ion-card>
	<span padding> Logged users:</span>
	<ion-scroll scrollX="true" zoom="false" padding>
		<div>
			<ion-item *ngFor="let user of loggedUsers" class="user-image-item item" (click)="openChatRoom(user)">
				<ion-avatar *ngIf="user.profileImageUrl === null">
					<img src="assets/png/user.png">
					<span>{{user.name}}</span>
				</ion-avatar>
				<ion-avatar *ngIf="user.profileImageUrl !== null">
					<img [src]="user.profileImageUrl" onError="this.src='assets/png/user.png'">
					<span>{{user.name}}</span>
				</ion-avatar>
			</ion-item>
		</div>
	</ion-scroll>
</ion-content>