<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle icon-only>
          	<ion-icon name="menu"></ion-icon>
        </button>
		<ion-title>Home</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-card>
		<ion-card-header>Welcome!</ion-card-header>
		<ion-card-content>

			<ion-item *ngIf="currentUser">
				<ion-avatar item-left>
					<img *ngIf="!currentUser.profileImageUrl" src="assets/png/user.png">
					<img *ngIf="currentUser.profileImageUrl" [src]="currentUser.profileImageUrl" alt="Profile image">
				</ion-avatar>
				<h2> {{currentUser.email}} </h2>
				<p> {{currentUser.name}} </p>
			</ion-item>
		</ion-card-content>
	</ion-card>

</ion-content>